[submodule "include/external/nativefiledialog-extended"]
	path = include/external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "include/external/cimgui"]
	path = include/external/cimgui
	url = https://github.com/cimgui/cimgui
